<!DOCTYPE html>
<html>
  <head>
    <title>Moma</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <nav>
          <%= link_to 'All Works', works_path %>
          <%= link_to 'New Works', new_work_path %>
          <%= link_to 'All Artists', artists_path %>
          <%= link_to 'New Artist', new_artist_path %>
        </nav>
      </header>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
