<h1><%= @butterfly['name'] %></h1>
<h2>Family: <%= @butterfly['family'] %></h2>
<% if !@butterfly.plant.nil? %>
<h2>Larval Plant: <%=@butterfly.plant.name %></h2>
<% end
unless @butterfly['image'].nil? %>
  <img class="feature" src="<%= @butterfly['image'] %>" />
<% else %>
  <h3>Image Coming Soon</h3>
<% end %>
<div class="controls">
  <a href="<%= @butterfly['id'] %>/edit">Edit</a>
  <a href="<%= @butterfly['id'] %>/delete">Delete</a>
</div>